<h3>Assignment 6</h3>
<form #f='ngForm' (ngSubmit)='submit(f)' (click)="clickBlank()">
  <div class="form-group">
    <label for="courseName">Course Name</label>
      <input 
        ngModel name="courseName"
        #courseName="ngModel"
        required
        minlength="3"
        id="courseName"
        class="form-control"
        type="text"
        (click)="showCourseName(courseName)"
      >
      <div>
        <div 
          class="alert alert-danger"
          *ngIf="!courseName.valid && courseName.touched">
          The Course Name is required
        </div>
        <div 
          class="alert alert-danger"
          *ngIf="!courseName.valid && courseName.errors.minlength">
          The Course Name length should be at least 3
        </div>
      </div>
  </div>
  <div class="form-group">
    <div>
      <div class="ui fluid icon input">
        <input 
          style="cursor: pointer"
          type="text" 
          placeholder="Select course type"
          readonly
          required
          [(ngModel)] = "selectedType"
          (click)="toggleSelect($event,selectType)"
          ngModel name="selectType"
          #selectType="ngModel"
        >
        <i class="dropdown icon"></i>
      </div>

      <div class="ui items item-group" 
        *ngIf="inputSelected"
        style="border-radius: 0 0 5px 5px; margin-top: 2px !important"
      >
        <div 
          class="item item-border"
          *ngFor="let ct of courseTypes;index as i;"
          (click)="clickItem(ct?.name)"
          style="margin-top: 0 !important;margin-bottom: 0 !important;height: 35px !important;"
          ><p style="margin-left: 5px; margin-top: 5px">{{i}} - {{ct?.name}}</p>
        </div>
      </div> 
      
      <div class="alert alert-danger" *ngIf="selectType.touched && !selectType.valid">
        Course type is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="tickRefond">
      <input 
        id="tickRefond"
        type="checkbox"
        ngModel name="tickRefond"
      >
      30-day money back gurantee
    </label>
  </div>
  <p>{{f.value|json}}</p>
  <button class='btn btn-primary' [disabled]="!f.valid">
    Submit
  </button>
</form>
